{% set sectionIndex = (index + 1) |default(1) %}
{% set sectionId = id %}

<div data-js="block" class="block {{modifiers}} block--{{block.type}} block--{{block.content.attributes.state}}">
	
	<header class="block__header">
		<h{{sectionIndex}} class="block__title">
			<span class="block__caption">{{block.content.attributes.description}}</span>
			{{block.content.attributes.title}}
		</h{{sectionIndex}}>
		<div class="block__icon">
			{% include 'components/_chevron-down.twig' %}
		</div>
	</header>

	<div class="block__content-container">
        {% block content %}
        	<div class="block__content">
        	{% if block.type == 'carousel' %}
        		{% include "components/_carousel.twig" with {"images": block.images}  %}
			{% else %}
				<div class="block__text">
					{{block.content.body}}
				</div>
        	{% endif %}
        	
        	</div>
        {% endblock %}
	</div>

</div>