{% set pagesArray = [] %}

{% for page in pages %}
    {% set pagesArray = pagesArray|merge([page]) %}
{% endfor %}

<style>
    .js .footer__nav-item{
        display: none;
    } 

    .js .page[data-page="all"] .footer__nav-item{
        display: block;
    }

    {% for page in pagesArray %}
        .js .page[data-page="{{page.attributes.id}}"] .footer__nav-item[data-id="{{page.attributes.id}}"]{
            display: block;
        }
    {% endfor %}
</style>

<ul class="footer__nav">
    
    {% set nextPage = pagesArray[1] %}

    {% for page in pagesArray %}

        {% if nextPage is empty %}
            {% set nextPageTitle = 'Inschrijven' %}
            {% set nextPageId = 'contact.html' %}
            {% set trigger = '' %}
        {% else %}
            {% set nextPageTitle = nextPage.attributes.title %}
            {% set nextPageId = '#' ~ nextPage.attributes.id %}
            {% set trigger = 'footer-trigger' %}
        {% endif %}

        <li class="footer__nav-item" data-id={{page.attributes.id}}>
            <span class="footer__nav-label title">Volgende Pagina</span>
            <span class="footer__nav-divider">|</span>
            <a data-js="{{trigger}}" href="{{nextPageId}}" class="footer__nav-link title">{{nextPageTitle}}</a>
        </li>

        {% set nextPage = pagesArray[loop.index + 1] %} 

    {% endfor %}
    
</ul>