{% set page_modifier = 'page--home' %}

{% extends "layouts/_site.twig" %}

{% block main %}

	<style>
		.js .content__section{
			display: none;
		} 

		{% for page in pages %}
			.js .content[data-section="{{page.attributes.id}}"] #{{page.attributes.id}}{
				display: block;
			}
		{% endfor %}
	</style>

	<div data-js="content" class="content" id="content">
		
		{% for page in pages %}
			
			{% set pageType = page.attributes.type|default('blocks') %}
			
			<section class="section content__section {% if loop.first %} active {% endif %}" id="{{page.attributes.id}}">

				<header class="section__header title title--large">
					<h{{loop.index}} class="section__title">{{page.attributes.caption}}</h{{loop.index}}>
				</header>

				{% if pageType == 'blocks' %}

					{% for block in page.attributes.sections %}
						{% embed "components/_block.twig" with {"content": block, "modifiers": "content__item", "index": 0, "id": "" }  %}
						{% endembed %}
					{% endfor %}

				{% else %}

					<div data-js="images" class="images page__images content__item">
						<div class="images__sizer"></div>
						{% for image in page.attributes.images %}
							<div class="images__item">
								<img src="{{image}}"/>
							</div>
						{% endfor %}

					</div>

				{% endif %}

			</section>
		{% endfor %}
	
	</div>

{% endblock %}

{# Somehow placing this block above the main block does not work? Weird.. #}
{% block header %}
	{% include "components/_moodboard.twig" with {"pages": pages} %}
	
	<div class="header__nav">
		<a data-js="contact-trigger" href="" class="header__link title">Contact</a>
	</div>
{% endblock %}