{% set page_modifier = 'page page--home' %}

{% extends "layouts/_site.twig" %}

{% block main %}

    <main class="main page__main">

		<style>
			.js .content__section{
				display: none;
			} 

			.js .page[data-page="all"] .content__section{
		        display: block;
		    }

			{% for page in pages %}
				.js .content[data-section="{{page.attributes.id}}"] #{{page.attributes.id}}{
					display: block;
				}
			{% endfor %}
		</style>

		<div data-js="content" class="content" id="content">
			
			{% for page in pages %}
				
				<section class="section content__section {% if loop.first %} active {% endif %}" id="{{page.attributes.id}}">
					
					{% if page.attributes.caption is not empty %}
					
						<header class="section__header title title--large">
							<a href="#top" class="section__back" style="display: none" data-js="section-back">
								{% include 'components/_scribble-top.twig' %}
							</a>
							<div class="section__icon">
								{% include 'components/_scribble-down.twig' %}
							</div>
							<h{{loop.index}} class="section__title">{{page.attributes.caption}}</h{{loop.index}}>
						</header>

					{% endif %}

					{% for block in page.attributes.sections %}
						{% if block.type == 'images' %}
							{% include "components/_images.twig" with {"block": block}  %}
						{% else %}
							{% include "components/_block.twig" with {"block": block, "modifiers": "content__item", "index": 0, "id": "" }  %}
						{% endif %}
					{% endfor %}

				</section>

			{% endfor %}
		
		</div>

	</main>

{% endblock %}

{# Somehow placing this block above the main block does not work? Weird.. #}
{% block header %}
     <header data-js="header" class="header header--full page__header">
     	{% include "components/_moodboard.twig" with {"pages": pages} %}
	
		<div class="header__nav">
			<a href="contact.html" class="header__link title">Contact</a>
		</div>
     </header>
{% endblock %}


{% block footer %}
    <footer class="footer page__footer">
        
    {% include "components/_footer-nav.twig" with {"pages": pages} %}
    
    <img class="footer__logo" src="./images/maetland-logo-small.svg" alt="" width="35">

    <script src="js/app.bundle.js" charset="utf-8"></script>

    {% if env == 'development' %}
        <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    {% endif %}
        
{% endblock %}